* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-serif: "Times New Roman", Times, serif;
    --font-sans: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* body {
} */

.serif {
    font-family: var(--font-serif);
}

.sans {
    font-family: var(--font-sans);
}

.app {
    display: flex;
    flex-direction: column;
}
